# KIN 471 - Fitbit Sleep Analysis
## This is a script to process sleep data exported from your Fitbit and place it in a usable Pandas dataframe within Python. Unless otherwise requested, do not change the code within the code boxes.

### These are the libraries we are importing. They have special functions that have additional functionality beyond the built-in functions within Python. 
- os allows us to work with paths
- zipfile allows us to unzip files
- shutil allows us to copy and move files
- pandas allows us to work with data (from the initial json to a dataframe)

In [20]:
import os
import zipfile
import shutil
import pandas as pd

### This unzips the specified folder!

In [21]:
while True:
    zipName = input('Copy and paste the name of your zip file:')
    if os.path.exists(zipName):
        print('This is a valid zip file.')
        with zipfile.ZipFile(zipName, 'r') as zip_ref:
            zip_ref.extractall() 
            print('All unzipped and undone for you.')
            break
    else:
        print('That doesn\'t exist, try again.')

Copy and paste the name of your zip file: 20Jun26-Anton_Fitbit_Data_Export (1).zip

This is a valid zip file.
All unzipped and undone for you.

### Finds the unique data files inside the newly extracted folder

In [22]:
while True:
    extractFile = input('Copy and paste the name of the main folder than was extracted:')
    if os.path.exists(f"./"+extractFile+"/user-site-export"):
        myPath = f"./"+extractFile+"/user-site-export/"
        filenames = os.listdir(myPath)
        print(f"Parsing {len(filenames)} files for unique types of data.")
        unique_filenames = set()
        for f in filenames:
            unique_filenames.add(f.split("-")[0])
        print(f"Found " + str(len(unique_filenames))+" unique types of data.")
        for name in sorted(unique_filenames):
            print(name)
        break
    else:
        print('That doesn\'t seem right... try again.')

Copy and paste the name of the main folder than was extracted: AntonTrinh

Parsing 369 files for unique types of data.
Found 18 unique types of data.
altitude
badge.json
calories
distance
exercise
food_logs
heart_rate
height
lightly_active_minutes
moderately_active_minutes
resting_heart_rate
sedentary_minutes
sleep
steps
time_in_heart_rate_zones
very_active_minutes
water_logs
weight

### This will copy and paste the data files into a newly created folder
- The folder's name can be anything you want!

In [23]:
myName = input('Enter name:')
if os.path.exists(myName):
    print('This exists!')
else:
    shutil.copytree(myPath, myName)
    print('Copied the data in '+myName+' for you.')

Enter name: letest

Copied the data in letest for you.

### This places all the sleep specific data files into a pandas dataframe within Python

In [24]:
jsondf = []
print('Working on:')
count=0
for file in os.listdir(myName):
    if file.startswith('sleep'):
        print(file)
        jsondf.append(pd.read_json(myName+"/"+file))
    count += 1
df = pd.concat(jsondf)

Working on:
sleep-2017-05-30.json
sleep-2018-03-26.json
sleep-2019-02-19.json

### Here you can see what the raw data looks like!

In [25]:
df

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,type,infoCode,levels,mainSleep
0,14887531885,2017-06-08,2017-06-07T22:50:00.000,2017-06-08T05:48:30.000,25080000,0,386,32,0,418,92,classic,0,"{'summary': {'restless': {'count': 10, 'minute...",True
1,14887531884,2017-06-07,2017-06-06T23:11:00.000,2017-06-07T06:48:00.000,27420000,0,409,48,0,457,89,classic,0,"{'summary': {'restless': {'count': 26, 'minute...",True
2,14820107248,2017-06-01,2017-05-31T23:01:30.000,2017-06-01T06:41:30.000,27600000,0,378,82,0,460,82,classic,0,"{'summary': {'restless': {'count': 36, 'minute...",True
3,14810849328,2017-05-31,2017-05-30T22:49:00.000,2017-05-31T06:28:00.000,27540000,0,394,64,1,459,86,classic,0,"{'summary': {'restless': {'count': 32, 'minute...",True
0,17964829932,2018-04-21,2018-04-20T23:24:00.000,2018-04-21T06:54:00.000,27000000,0,384,66,0,450,85,classic,0,"{'summary': {'restless': {'count': 30, 'minute...",True
1,17950685220,2018-04-20,2018-04-19T22:44:00.000,2018-04-20T05:33:00.000,24540000,0,367,42,0,409,90,classic,0,"{'summary': {'restless': {'count': 22, 'minute...",True
2,17939795699,2018-04-19,2018-04-18T22:21:00.000,2018-04-19T05:29:00.000,25680000,0,373,55,0,428,87,classic,0,"{'summary': {'restless': {'count': 30, 'minute...",True
3,17930492554,2018-04-18,2018-04-17T22:19:00.000,2018-04-18T05:27:00.000,25680000,0,384,42,2,428,90,classic,0,"{'summary': {'restless': {'count': 26, 'minute...",True
4,17917102503,2018-04-17,2018-04-16T22:37:00.000,2018-04-17T05:43:00.000,25560000,0,389,37,0,426,91,classic,0,"{'summary': {'restless': {'count': 18, 'minute...",True
0,21640626981,2019-03-20,2019-03-19T22:28:30.000,2019-03-20T05:34:00.000,25500000,0,388,37,0,425,91,classic,0,"{'summary': {'restless': {'count': 19, 'minute...",True
1,21607368773,2019-03-17,2019-03-17T00:49:30.000,2019-03-17T07:32:30.000,24180000,0,360,42,1,403,90,classic,0,"{'summary': {'restless': {'count': 24, 'minute...",True
2,21596144066,2019-03-16,2019-03-15T23:44:30.000,2019-03-16T08:02:00.000,29820000,0,443,54,0,497,89,classic,0,"{'summary': {'restless': {'count': 24, 'minute...",True
3,21583768800,2019-03-15,2019-03-14T22:38:00.000,2019-03-15T05:45:00.000,25620000,17,393,17,0,427,96,classic,0,"{'summary': {'restless': {'count': 9, 'minutes...",True
4,21569134803,2019-03-14,2019-03-13T22:10:00.000,2019-03-14T05:26:00.000,26160000,4,378,48,6,436,89,classic,0,"{'summary': {'restless': {'count': 23, 'minute...",True
5,21557488860,2019-03-13,2019-03-12T22:19:00.000,2019-03-13T05:29:00.000,25800000,0,375,55,0,430,87,classic,0,"{'summary': {'restless': {'count': 26, 'minute...",True
6,21542645033,2019-03-12,2019-03-11T22:09:00.000,2019-03-12T05:29:00.000,26400000,0,382,57,1,440,87,classic,0,"{'summary': {'restless': {'count': 29, 'minute...",True
7,21529242656,2019-03-11,2019-03-10T22:10:00.000,2019-03-11T05:29:00.000,26340000,0,384,55,0,439,87,classic,0,"{'summary': {'restless': {'count': 28, 'minute...",True
8,21516982568,2019-03-10,2019-03-10T00:41:00.000,2019-03-10T07:28:30.000,24420000,0,354,53,0,407,87,classic,0,"{'summary': {'restless': {'count': 27, 'minute...",True
9,21503592310,2019-03-09,2019-03-08T22:57:00.000,2019-03-09T07:45:30.000,31680000,0,473,55,0,528,90,classic,0,"{'summary': {'restless': {'count': 23, 'minute...",True
10,21491776805,2019-03-08,2019-03-07T22:29:00.000,2019-03-08T05:29:30.000,25200000,0,349,71,0,420,83,classic,0,"{'summary': {'restless': {'count': 24, 'minute...",True
11,21460324169,2019-03-07,2019-03-06T23:40:00.000,2019-03-07T06:00:00.000,22800000,0,380,0,0,380,100,classic,0,"{'summary': {'restless': {'count': 0, 'minutes...",True
12,21464152201,2019-03-06,2019-03-05T22:41:00.000,2019-03-06T05:30:00.000,24540000,7,386,16,0,409,96,classic,0,"{'summary': {'restless': {'count': 12, 'minute...",True
13,21451335646,2019-03-05,2019-03-04T22:17:00.000,2019-03-05T05:29:00.000,25920000,0,377,55,0,432,87,classic,0,"{'summary': {'restless': {'count': 23, 'minute...",True
14,21439870147,2019-03-04,2019-03-03T21:46:00.000,2019-03-04T05:28:00.000,27720000,0,412,50,0,462,89,classic,0,"{'summary': {'restless': {'count': 15, 'minute...",True
15,21427760213,2019-03-03,2019-03-02T23:50:00.000,2019-03-03T06:06:00.000,22560000,9,330,37,0,376,90,classic,0,"{'summary': {'restless': {'count': 16, 'minute...",True
16,21419530028,2019-03-02,2019-03-02T00:37:00.000,2019-03-02T07:39:00.000,25320000,0,378,44,0,422,90,classic,0,"{'summary': {'restless': {'count': 24, 'minute...",True
17,21403606766,2019-03-01,2019-02-28T22:28:00.000,2019-03-01T05:28:00.000,25200000,0,386,34,0,420,92,classic,0,"{'summary': {'restless': {'count': 24, 'minute...",True
18,21389680702,2019-02-28,2019-02-27T23:20:30.000,2019-02-28T05:29:30.000,22140000,0,331,38,0,369,90,classic,0,"{'summary': {'restless': {'count': 14, 'minute...",True
19,21378631553,2019-02-27,2019-02-26T23:10:30.000,2019-02-27T05:06:00.000,21300000,0,329,26,0,355,93,classic,0,"{'summary': {'restless': {'count': 17, 'minute...",True
20,21364680369,2019-02-26,2019-02-25T22:37:30.000,2019-02-26T05:29:00.000,24660000,0,185,226,0,411,45,classic,0,"{'summary': {'restless': {'count': 15, 'minute...",True
21,21352498928,2019-02-25,2019-02-24T22:24:00.000,2019-02-25T05:26:30.000,25320000,0,189,226,7,422,46,classic,0,"{'summary': {'restless': {'count': 13, 'minute...",True
22,21345816261,2019-02-24,2019-02-23T23:43:00.000,2019-02-24T07:56:00.000,29580000,0,216,277,0,493,44,classic,0,"{'summary': {'restless': {'count': 17, 'minute...",True

### Creating a function to get the minutes info out of the summary column

In [26]:
def get_minutes(levels, sleep_phase):
    if not levels.get('summary'):
        return None
    if not levels.get('summary').get(sleep_phase):
        return None
    if not levels.get('summary').get(sleep_phase).get('minutes'):
        return None
    return levels['summary'][sleep_phase]['minutes']

### Applies the function to columns within the summary column

In [27]:
for x in df.iloc[0].levels['summary']:
    df[x] = df.levels.apply(get_minutes, args=(x,))

# This converts the dateOfSleep column into the dataframe's index

In [29]:
df.dateOfSleep = pd.to_datetime(df.dateOfSleep)
df.set_index("dateOfSleep", drop=True, inplace=True)
df.sort_index(inplace=True)

### Removes our unused columns

In [30]:
df.drop(columns=([
    "logId", 
    "startTime", 
    "endTime", 
    "duration", 
    "minutesToFallAsleep", 
    "minutesAwake", 
    "minutesAfterWakeup", 
    "efficiency",
    "type",
    "infoCode",
    "levels",
    "mainSleep"
]), inplace=True)

### Look at our data now!

In [31]:
df

             minutesAsleep  timeInBed  restless  awake  asleep
dateOfSleep
2017-05-31             394        459      61.0    4.0     394
2017-06-01             378        460      78.0    4.0     378
2017-06-07             409        457      44.0    4.0     409
2017-06-08             386        418      29.0    3.0     386
2018-04-17             389        426      37.0    NaN     389
2018-04-18             384        428      43.0    1.0     384
2018-04-19             373        428      45.0   10.0     373
2018-04-20             367        409      42.0    NaN     367
2018-04-21             384        450      61.0    5.0     384
2019-02-24             216        493     272.0    5.0     216
2019-02-25             189        422     226.0    7.0     189
2019-02-26             185        411     224.0    2.0     185
2019-02-27             329        355      25.0    1.0     329
2019-02-28             331        369      38.0    NaN     331
2019-03-01             386        420      33.0    1.0     386
2019-03-02             378        422      40.0    4.0     378
2019-03-03             330        376      45.0    1.0     330
2019-03-04             412        462      44.0    6.0     412
2019-03-05             377        432      55.0    NaN     377
2019-03-06             386        409      20.0    3.0     386
2019-03-07             380        380       NaN    NaN     380
2019-03-08             349        420      62.0    9.0     349
2019-03-09             473        528      47.0    8.0     473
2019-03-10             354        407      49.0    4.0     354
2019-03-11             384        439      54.0    1.0     384
2019-03-12             382        440      55.0    3.0     382
2019-03-13             375        430      55.0    NaN     375
2019-03-14             378        436      55.0    3.0     378
2019-03-15             393        427      33.0    1.0     393
2019-03-16             443        497      49.0    5.0     443
2019-03-17             360        403      38.0    5.0     360
2019-03-20             388        425      31.0    6.0     388

### For easy access, we save our dataframe to a .csv file

In [32]:
with open(myName+'.csv', "w") as df_csv:
    df.to_csv(myName+'.csv')